body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.nav-menu {
    background-color: darkolivegreen;
    padding: 15px 0;
    border-bottom: 2px solid #444;
    text-align: center;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .nav-menu ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu li {
        margin: 0 15px;
    }

.nav-link {
    margin-left:50px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        text-decoration: underline;
        color: greenyellow;
    }

    .nav-menu .nav-link {
        margin-right: 50px;
    }

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.card-image{
    width:100px;
    height:100px;
    margin-right:80px;
}